<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias type="com.example.springboot_board_v4.model.member.Member" alias="member"/>
  	<typeAlias type="com.example.springboot_board_v4.model.board.Board" alias="board"/>
  	<typeAlias type="com.example.springboot_board_v4.model.board.Reply" alias="reply"/>
  	<typeAlias type="com.example.springboot_board_v4.model.board.AttechedFile" alias="file"/>
  </typeAliases>
</configuration>